
    # CU_154 - HIS2 46

    CST::BEGIN
    TEMPLATE::   ATOM_MAP: 1 atom_name:  CU V1 V2
    TEMPLATE::   ATOM_MAP: 1 residue3:  CU
    
    TEMPLATE::   ATOM_MAP: 2 atom_name: ND1 CE1 NE2 ,
    TEMPLATE::   ATOM_MAP: 2 residue1:  H
    
    CONSTRAINT:: distanceAB:  2.05  0.20  100.  1

    CONSTRAINT::    angle_B:  123.94   10.0  100.0  180.

    CONSTRAINT::  torsion_B:  121.70   10.0  100.00  360.

    CST::END
    # CU_154 - HIS 48

    CST::BEGIN
    TEMPLATE::   ATOM_MAP: 1 atom_name:  CU V1 V2
    TEMPLATE::   ATOM_MAP: 1 residue3:  CU
    
    TEMPLATE::   ATOM_MAP: 2 atom_name: NE2 CE1 ND1 ,
    TEMPLATE::   ATOM_MAP: 2 residue1:  H
    
    CONSTRAINT:: distanceAB:  2.13  0.20  100.  1

    CONSTRAINT::    angle_B:  114.20   10.0  100.0  180.

    CONSTRAINT::  torsion_B:  197.09   10.0  100.00  360.

    CST::END
    # CU_154 - HIS 63

    CST::BEGIN
    TEMPLATE::   ATOM_MAP: 1 atom_name:  CU V1 V2
    TEMPLATE::   ATOM_MAP: 1 residue3:  CU
    
    TEMPLATE::   ATOM_MAP: 2 atom_name: NE2 CE1 ND1 ,
    TEMPLATE::   ATOM_MAP: 2 residue1:  H
    
    CONSTRAINT:: distanceAB:  2.09  0.20  100.  1

    CONSTRAINT::    angle_B:  122.23   10.0  100.0  180.

    CONSTRAINT::  torsion_B:  156.28   10.0  100.00  360.

    CST::END
    # CU_154 - HIS 120

    CST::BEGIN
    TEMPLATE::   ATOM_MAP: 1 atom_name:  CU V1 V2
    TEMPLATE::   ATOM_MAP: 1 residue3:  CU
    
    TEMPLATE::   ATOM_MAP: 2 atom_name: NE2 CE1 ND1 ,
    TEMPLATE::   ATOM_MAP: 2 residue1:  H
    
    CONSTRAINT:: distanceAB:  2.08  0.20  100.  1

    CONSTRAINT::    angle_B:  98.34   10.0  100.0  180.

    CONSTRAINT::  torsion_B:  138.61   10.0  100.00  360.

    CST::END
    # ZN_155 - HIS2 63

    CST::BEGIN
    TEMPLATE::   ATOM_MAP: 1 atom_name:  ZN V1 V2
    TEMPLATE::   ATOM_MAP: 1 residue3:  ZN
    
    TEMPLATE::   ATOM_MAP: 2 atom_name: ND1 CE1 NE2 ,
    TEMPLATE::   ATOM_MAP: 2 residue1:  H
    
    CONSTRAINT:: distanceAB:  2.05  0.20  100.  1

    CONSTRAINT::    angle_B:  114.41   10.0  100.0  180.

    CONSTRAINT::  torsion_B:  144.53   10.0  100.00  360.

    CST::END
    # ZN_155 - HIS2 71

    CST::BEGIN
    TEMPLATE::   ATOM_MAP: 1 atom_name:  ZN V1 V2
    TEMPLATE::   ATOM_MAP: 1 residue3:  ZN
    
    TEMPLATE::   ATOM_MAP: 2 atom_name: ND1 CE1 NE2 ,
    TEMPLATE::   ATOM_MAP: 2 residue1:  H
    
    CONSTRAINT:: distanceAB:  2.13  0.20  100.  1

    CONSTRAINT::    angle_B:  96.78   10.0  100.0  180.

    CONSTRAINT::  torsion_B:  136.13   10.0  100.00  360.

    CST::END
    # ZN_155 - HIS2 80

    CST::BEGIN
    TEMPLATE::   ATOM_MAP: 1 atom_name:  ZN V1 V2
    TEMPLATE::   ATOM_MAP: 1 residue3:  ZN
    
    TEMPLATE::   ATOM_MAP: 2 atom_name: ND1 CE1 NE2 ,
    TEMPLATE::   ATOM_MAP: 2 residue1:  H
    
    CONSTRAINT:: distanceAB:  2.08  0.20  100.  1

    CONSTRAINT::    angle_B:  87.94   10.0  100.0  180.

    CONSTRAINT::  torsion_B:  200.40   10.0  100.00  360.

    CST::END
    # ZN_155 - ASP2 83

    CST::BEGIN
    TEMPLATE::   ATOM_MAP: 1 atom_name:  ZN V1 V2
    TEMPLATE::   ATOM_MAP: 1 residue3:  ZN
    
    TEMPLATE::   ATOM_MAP: 2 atom_name: OD2 CG CB ,
    TEMPLATE::   ATOM_MAP: 2 residue1:  D
    
    CONSTRAINT:: distanceAB:  1.95  0.20  100.  1

    CONSTRAINT::    angle_B:  146.15   10.0  100.0  180.

    CONSTRAINT::  torsion_B:  326.86   10.0  100.00  360.

    CST::END