{% load staticfiles %}

<table border="0" cellpadding="2" cellspacing="3" width="80%" align="center">
<tr>
<td colspan="1" align="left">
<img alt="CircleLogo" width="150" height="150" border="0" src="{% static "circularlogo/img/circlelogo.png" %}" />
</td>
<td colspan="2" align="left" "vertical-align"="middle">
  <font size=10 color="gray"> Circular<span style="color:green">L</span><span style="color:red">o</span><span style="color:blue">g</span><span style="color:orange">o</span></font>
</td>

<td colspan="1" align="right" valign="bottom"><h2><strong>
<a href="index.html">Home</a>&nbsp;&nbsp;<a href="http://circularlogo.sourceforge.net/">Help</a>
</strong></h2></td>  
  
</tr>
<tr><td colspan="4"><hr></td></tr>
</table>